    @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
    @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

    body {
      background: #e4f8ff;
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
    }

    .chatbar {
      background: #8be1f3;
      border-top: 3px solid #41bfe1;
      bottom: 0;
      display: flex;
      left: 0;
      padding: 5px;
      position: fixed;
      right: 0;
    }

    .message-form,
    .user-form {
      display: flex
    }

    .message-form {
      width: 100%;
    }

    .user-form {
      width: 25%;
    }

    .chatbar-message,
    .chatbar-username {
      border: 1px solid #41bfe1;
      border-radius: 0.5em;
      display: block;
      height: 40px;
      line-height: 40px;
      margin: 5px;
      padding: 0 9px;
    }

    .chatbar-message {
      flex: 8;
    }

    .chatbar-username {
      flex: 2;
    }

    .message {
      display: flex;
      padding: 5px;
      color: black;
      background: white;
      border-radius: 0.5em;
      margin: 1em 3em;
      box-shadow: 6px 6px 16px 0px #a0a0a0
    }

    .message.system {
      color: gray;
      font-style: italic;
      padding: 1em 1.5em;
    }

    .message-content,
    .message-username {
      overflow: hidden;
      margin: 5px;
      padding: 0 10px;
    }

    .message-content {
      flex: 8;
      line-height: 1.4em;
    }

    .message-image {
      max-width: 60%;
      border-radius: 1em;
    }

    .message-username {
      flex: 1.3;
      font-family: 'Baloo Bhaijaan', cursive;
      font-size: 1.2em;
    }

    .messages {
      margin-top: 5em;
      margin-bottom: 5em;
    }

    .navbar {
      background: #8be1f3;
      border-bottom: 3px solid #41bfe1;
      height: 60px;
      left: 0;
      padding: 0 10px;
      position: fixed;
      right: 0;
      top: 0;
    }

    .navbar span {
      float: right;
      margin: 1em;
      line-height: 2.3em;
      font-family: 'Baloo Bhaijaan', cursive;
    }

    .navbar-brand {
      color: inherit;
      display: block;
      float: left;
      font-weight: 700;
      font-size: 28px;
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
      text-decoration: none;
      font-family: 'Baloo Bhaijaan', cursive;
    }